{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="http://localhost:3000/juggling-balls">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        More experience required
      </h1>

      <p> Thank you for your interest in applying for a proffessional juggling licence, however please be advised that we are only able to accpet applications from applicants who can juggle 3 or more balls at this time. Please return to this application in future should your circumstances change and would like to re-apply.</p>

      <p>This paragraph has a link to <a href="/url/of/onward/page">find out more about this subject</a>.</p>

    </div>
  </div>

{% endblock %}
